.btn {
    margin:5px 10px;
}

.todo-checkbox{
    vertical-align:middle;
    text-align: center;
}

.todo-table{
    width:70%
}

.action-cell{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}